.CustomTables {
    margin-bottom: 30px;;
    text-align: left;
    color: #4a4e5e;
    min-height: 460px;
}

.CustomHeader:first-of-type {
    padding-left: 40px;
    border-top-left-radius: 10px;
}

.CustomHeader.last {
    border-top-right-radius: 10px;
}

.CustomHeader {
    display: table-cell;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 3px solid #e9e9e9;
    background-color: #f5f6fa;
}

.GroupsOfRows {
    display: table-row-group;
}

.CustomRow:first-child {
    padding-left: 40px
}

.GroupsOfRows:last-child .CustomRow:first-of-type {
    border-bottom-left-radius: 10px
}

.GroupsOfRows:last-child .CustomRow:last-of-type {
    border-bottom-right-radius: 10px
}

.CustomRow {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    display: table-cell;
    border-bottom: 2px solid #e9e9e9;
    background-color: white;
}

/* .CustomRow.Changes {
    background-color: #b8b7b7;
} */