*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    /* background: #2e2e2e; */
    background: rgb(242, 242, 242);
    /* color: white; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width:480px) {
    .container {
        display: block;
        padding-top: 60px;
    }
}


.login_textFields{
    color: rgb(0, 0, 0) !important;
}

.label_textfield{
    color: rgb(0, 0, 0) !important
}