<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Inventaris</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/BarangTable.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/DetailTable.css' %}" />
</head>
<body>
    <div id="main">
        <div id="app"></div>
    </div>

    <script src="{% static 'frontend/main.js' %}"></script>
    
</body>
</html>     

<!-- untuk line 6 merupakan nama tab .
untuk line 7 load static mengambil file file yang ada pada folder static 
line 8 mengaktifkan java script 
line 9 font dari google
10 - 12 load file style
19 mengload component react -->