@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


.Navigations {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.SideBar {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.MenuBar {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: white;
    padding-right: 1rem;
}

.Hide-Able-Menu {
    display: flex;
    list-style: none;
}

.To-Show-Menu {
    display: none;
}

.menu-text {
    padding: 20px 20px 20px 20px;
    justify-content: start;
}

.menu-text a {
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    transition: 125ms;
}

.menu-text a:hover{
    background-color: #e66767;
    transition: 125ms;
}

.regis-text {
    padding: 20px 20px 20px 20px;
    justify-content: start;
}

.regis-text a {
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    background-color: #15cdfc;
    transition: 500ms;
}

.regis-text a:hover {
    color: #15cdfc;
    background-color: white;
    transition: 500ms;
}

@media screen and (max-width:980px){
    .Hide-Able-Menu {
        display: none;
    }
    
    .To-Show-Menu {
        display: inline;   
    }

    .To-Show-Menu .menu-text {
        display: flex;
        justify-content: start;
        color: white;
        padding: 8px 0px 8px 16px;
        height: 60px;
    }

    .To-Show-Menu .menu-text a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        width: 95%;
        height: 100%;
        align-items: center;
        border-radius: 25px;
        transition: 125ms;
    }

    .To-Show-Menu .menu-text span {
        padding-left: 20px;
        padding-top: 6px;
        margin-left: 16px;
    }

    .To-Show-Menu .regis-text {
        display: flex;
        justify-content: start;
        color: white;
        padding: 8px 0px 8px 16px;
        height: 60px;
    }

    .To-Show-Menu .regis-text a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        width: 95%;
        height: 100%;
        align-items: center;
        border-radius: 25px;
        transition: 125ms;
        background-color: transparent;
    }

    .To-Show-Menu .regis-text a:hover{
        background-color: #e66767;
        transition: 125ms;
    }

    .To-Show-Menu .regis-text span {
        padding-left: 20px;
        padding-top: 6px;
        margin-left: 16px;
    }

    .menu_icons {
        height: 1px;
    }
}

.nav-menu {
    background: #183241;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0px;
    transition: 425ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    color: white;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    align-items: center;
    padding: 0px 16px;
    border-radius: 25px;
    transition: 125ms;
}

.nav-text a:hover {
    background-color: #e66767;
    transition: 125ms;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggler {
    background-color: #183241;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.nav-text span {
    padding-left: 20px;
    padding-top: 8px;
    margin-left: 16px;
}

.notif-text {
    display: flex;
    justify-content: start;
    color: white;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.notif-text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    align-items: center;
    padding: 8px 16px;
    border-radius: 25px;
    transition: 125ms;
}

.notif-text a:hover{
    background-color: #e66767;
    transition: 125ms;
}

.notif-text span {
    padding-left: 20px;
    margin-left: 16px;
}

.items_icons {
    padding-top: 10px;
    height: 1px;
}